.uploader {
  &__image {
    width: 340px;
    height: 180px;

    margin: 0 auto;

    background-size: contain;
    border-radius: 6px;
  }

  &__cancel {
    width: 30px;
    height: 30px;

    float: right;

    color: #fff !important;
    background-color: red !important;

    border-radius: 6px !important;
  }
}
